[2015-09-23 07:41] frelind opened #5 "Fails when using nested host groups"
Script fails with HTTP error 404 when trying to add a server to a nested host group

Foreman production log:
ActionController::RoutingError (No route matches [GET] "/api/v2/hostgroups/Foo/Bar"):

URL should be /api/v2/hostgroups/:id

[2015-10-21 19:37] lpouellet opened #10 "Satellite 6.1.3 host creation"

[2015-10-21 19:40] #10 closed, assigned to nobody

[2015-10-30 19:00] dgersting opened #13 "This script seems very broken for Satellite 6.1"
Satellite 6.1 returns the following error to the "Create Host" API call:

[code]

Since some of these params are not present in the Satellite 6.0 API Guide, it's my assumption that they were added in 6.1 (though I can't confirm this as Red Hat's 6.1 API Guide appears incomplete/broken.

This also seems related to this Red Hat bug: https://bugzilla.redhat.com/show_bug.cgi?id=1135651

[2015-12-14 14:25] Rocco83 opened #14 "organization not found would not lead to error"
Hi,

Satellite 6.1.
See below for a traceback. My error was taking label of the organization and not the name (maybe lack of documentation is another bug), but nevertheless, myorgid = none should stop the script imo.

Important thing:
ORG - Default_Organization
myorgid: None

usgnutllab11 ~ # ./bootstrap.py -l admin -p redhat -s fqdn -o Default_Organization -L mylocation -g RHEL6 -a RHEL6_Test_Act

[2016-02-03 09:28] evgeni commented on #13
Hey @dgersting, I usually would expect these params to be set on the hostgroup level. And they were mandatory in Satellite 6.0 already, so there is no Sat 6.1 change that is causing this.

Greets

[2016-02-03 22:04] #5 closed, assigned to nobody

[2016-02-15 14:14] Rocco83 opened #31 "handling hostgroups without operating system and fields dependant on this field"
Hi,

I didn't ever faced the problem because of this bug:
https://bugzilla.redhat.com/show_bug.cgi?id=1306925

The problem is that
- host[architecture_id](already fixed)
  optional , nil allowed
  required if host is managed and value is not inherited from host group
- host[operatingsystem_id]
  optional , nil allowed
  required if host is managed and value is not inherited from host group
- host[

[2016-02-16 10:22] #14 closed, assigned to nobody

[2016-02-17 15:31] sideangleside commented on #31
I am torn on how to solve this. What I am trying to avoid is having to have a function for every property of the host group that the user does not specify or is not inherited. Additionally, It is not assumed that the user running the bootstrap script is a/the Satellite administrator. I am OK with making the user have to set these fields on their hostgroup as mandatory.

[2016-02-18 08:56] evgeni commented on #31
So I would also agree that the HG should be fully set-up and we should document this as a requirement. @Rocco83 's list also e.g. misses the root password, which also _has_ to be set ;-)

The current version already fetches the right arch-id from the API: https://github.com/sideangleside/sat6-bootstrap/blob/master/bootstrap.py#L376

OS-id and Medium-id is not really relevant as we are not _buildin

[2016-02-22 17:50] Rocco83 commented on #31
Almost there with the patch :)
suggestion: --unmanaged instead of --dont-manage. the short option for "don't manage" is not clear, for unmanaged we can use -U.
feedback?

[2016-02-22 18:53] Rocco83 commented on #31
Hi,

https://github.com/Rocco83/sat6-bootstrap/commit/cb01fae1850e19e40e9f4b1ae7d69b3b709b53d9

Please check it and comment it.
I have also fixed other topics.

[2016-02-22 19:30] evgeni commented on #31
nitpicks in PR :)

why did you move deleting to ID instead of FQDN -- this works fine here (but not opposed to the change)

[2016-02-22 22:46] Rocco83 commented on #31
About deleting ID:
in 6.1.6 was just not working.
Also the API state that ID is needed.
Do you have another version?

[2016-02-23 07:52] evgeni commented on #31
Interesting. I tried this on 6.1.4, 6.1.6 and 6.1.7, works just fine.

API docs on my 6.1.7 say:
id (required) Value: Must be an identifier, string from 1 to 128 characters containing only alphanumeric characters, space, underscore(_), hypen(-) with no leading or trailing space.

It does not say it has to be the numeric id.

did you maybe try when https://github.com/sideangleside/sat6-bootstrap/pu

[2016-02-23 15:15] Rocco83 commented on #31
I recall that i tried without success, and i have concluded that id (required) must be THE id, even if i were guessing about "alphanumeric".
but let's say... as long as this if fine also for you :)
@sideangleside i have a final commit https://github.com/sideangleside/sat6-bootstrap/pull/35 that should fix the originial issue.

[2016-02-24 08:13] evgeni commented on #31
as #35 is now merged, we can close this, right?

[2016-02-24 09:33] Rocco83 commented on #31
Yes, closed.

[2016-02-24 09:33] #31 closed, assigned to nobody

[2016-03-01 21:28] Rocco83 opened #41 "get id - redundant functions"
Hi,

there is a lot of functions with the same scope: getting ids from satellite.

my suggestion (proof of concept):

[code]

Along with (example)
`myhgid = return_matching_id('hostgroups', 'title=%s' % options.hostgroup, False)`

This is very general and can be used also for (in example) host search, in which 0 result are good.

Any comment, idea, suggestion?

Daniele

[2016-03-03 14:20] frelind opened #42 "Fails on nested hostgroups with same name"
If there's more than one hostgroup with the same name but different parent it will try to use the parent hostgroup.

Example:
RHEL7/common
RHEL6/common

Script will try to use RHEL7 or RHEL6 instead.

[2016-03-03 14:32] evgeni commented on #42
how do you call the script? `-g RHEL7/common` should work just fine.

[2016-03-03 14:36] evgeni commented on #41
Yeah, I also would generilze the HTTP methods (get, post, delete) we have. Not having fqdn and port in every single call would be great :)

[2016-03-03 22:11] Rocco83 commented on #42
I am using a very similar syntax (3 level nesting, "RHEL7/PROD/Rolling") and it is working properly.
+1 for @evgeni,  please share the code.

[2016-03-04 08:36] frelind commented on #42
[code]

`Base/RHEL7` = id 7
`Base/RHEL7/common` = id 47

Running Satellite 6.1.4

[2016-03-04 09:04] evgeni commented on #42
Hi, yeah, that looks wrong, but I am not sure this is because of the nesting. Could you provide the output of

[code]

to allow us understand the structure better

[2016-03-04 09:59] evgeni commented on #42
Ok, so your problem seems to be somewhere in `return_puppetenv_for_hg(hg_id)`.

Can you show the JSON returned by https://satellite.foo.com:443/api/v2/hostgroups/47 and https://satellite.foo.com:443/api/v2/hostgroups/7?

[2016-03-04 10:06] frelind commented on #42
If I set the Puppet environment for the hostgroup instead of using inherit from parent the script works.

I will post the JSON data

[2016-03-04 10:15] evgeni commented on #42
Yeah, I think the issue is that you have more than one inheritance layers and https://github.com/sideangleside/sat6-bootstrap/blob/master/bootstrap.py#L367 fails then.

[2016-03-04 10:30] evgeni commented on #42
@frelind can you please try the patch at https://github.com/evgeni/sat6-bootstrap/commit/7d758bb3c05d1c1cf9e9e925e5b4393f6f97c28e?

[2016-03-04 19:15] scallywag41 opened #43 "Usage through proxy still uses port 443"
If you edit the python and set the API_PORT to 8443 (the reverse proxy port on the capsule back to the satellite) it will still make calls via 443.  Here is a quick cut/paste of the relevent output.

://MYCAPSULE:443/api/v2/hostgroups/?search=title%3Ddev
request: https://MYCAPSULE:443/api/v2/hostgroups/?search=title%3Ddev
Error: cannot connect to the API: HTTP Error 404: Not Found
Check your URL &

[2016-03-08 07:18] frelind commented on #42
@evgeni I've applied your patch and it's working great. Thank you!

[2016-03-11 00:04] Rocco83 commented on #43
Hi,

in order to reproduce the problem,

[code]

In main()

[code]

Which port do you have in /etc/rhsm/rhsm.conf of the specified server?

Ciao,
Daniele

[2016-03-11 19:38] scallywag41 commented on #43
[code]

[2016-03-12 09:15] evgeni commented on #43
Can you provide a full bootstrap.py call and output?

rhsm.conf is provided by the katello-ca rpm which bootstrap.py installs at the very beginning. The one you get from the Capsule should have port 8443 in it.

[2016-03-14 17:27] mccun934 opened #46 "Move this script to Katello github org"
IMO, this should be brought under the Katello umbrella and re-branded to not be Satellite specific.

Proposed new home:

https://github.com/Katello/client-bootstrap

I'm going to submit a PR to that repo with a new README + bootstrap.py that is reworded to state Katello vs Satellite and can be maintained as part of the upstream of Satellite.

[2016-03-14 18:29] scallywag41 commented on #43
This system may have been registered to satellite directly, then later the registration was attempted to the capsule.  When I change the line we are looking at to 8443 in /etc/rhsm/rhsm.conf things seem to work.  Thanks :)

[2016-03-14 18:36] scallywag41 opened #47 "Can Delete Virtual Machine during Re-registration attempts"
For Red Hatters please see:
CASE 01600399
bootstrap.py deletes virtual machine

I ran the script to attempt to "re-register" a system with the --force option.  Apparently, it will remove the old host entry (as it should).  However, this does not simply remove the entry, if your satellite is communicating properly with vsphere, it will also delete the etire virtual machine from vsphere.  This may b

[2016-03-14 18:42] #43 closed, assigned to nobody

[2016-03-15 08:13] evgeni commented on #47
nice catch. Satellite behaves exactly as it was asked to, but that's obviously not what we want :-)

let's see if there is a way to work around this

[2016-03-15 09:54] evgeni commented on #47
@scallywag41 can you please try the patch at https://github.com/evgeni/sat6-bootstrap/commit/787d1c51dbef7c84ba8dbe8dbc9fa143ee6201c0?

[2016-03-15 10:16] CalvinHartwell commented on #47
Evgeni's patch looks correct to me, the host should be disassociated first
before the delete to stop this issue.

Explanation:

The deletion of the virtual machine from vCenter is expected functionality
from this API call if the virtual machine has been associated to a compute
resource (vCenter in this case).

This REST API call performs the same action as pressing the delete action
on a host in t

[2016-03-15 15:43] evgeni commented on #46
:+1: on moving to the Katello org, but why creating the repo from scratch instead of moving this one there? that would preserve history etc.

[2016-03-15 20:51] scallywag41 commented on #47
I will have to take a look at this in the AM.  I wasn't expecting such a quick response.  Thanks :)

[2016-03-15 22:34] mccun934 commented on #46
@evgeni I'm preserving history, doing a rebase/merge from this repo.

[2016-03-16 14:25] scallywag41 commented on #47
Well.  I pulled the python from https://github.com/evgeni/sat6-bootstrap.  However, it appears I am getting the same results (I've blown away my test host again heh).  Forgive me - I'm not a dev and so my git knowledge is more limited.  Is there a different process I should follow?

[2016-03-16 14:27] evgeni commented on #47
Yeah, you need the version from https://github.com/evgeni/sat6-bootstrap/tree/disassociate-before-delete, direct link: https://raw.githubusercontent.com/evgeni/sat6-bootstrap/disassociate-before-delete/bootstrap.py

[2016-03-16 14:28] scallywag41 commented on #47
Thanks.  Let me rebuild and I'll try again with that :P

[2016-03-16 14:36] CalvinHartwell commented on #47
Hey Scallywag,

I believe Evgeni created a new branch for his fixes, which needs to be
tested before making a pull request back to the original repo (
https://git-scm.com/docs/git-request-pull).

You need this file: https://github.com/evgeni/sat6-bootstrap/blob/787d1c51dbef7c84ba8dbe8dbc9fa143ee6201c0/bootstrap.py

Cheers

On Wed, Mar 16, 2016 at 3:28 PM, scallywag41 notifications@github.com
wrote

[2016-03-16 16:12] scallywag41 commented on #47
Excellent.  Thanks gentlemen.  I've re-run this a good amount of times and feel a great deal safer using it now.  If there are no objections I'll close this issue.  Two thumbs up all :)

[2016-03-16 16:19] evgeni commented on #47
@scallywag41 thanks for testing, proposed the merge now.

[2016-03-16 16:29] #47 closed, assigned to nobody

[2016-03-16 21:03] Rocco83 commented on #46
@mccun934 also the PR will be keeped?

[2016-03-16 21:09] Rocco83 commented on #13
@dgersting i think that the bug has some private information, i see that as reopened but no other information. I think i have, in satellite 6.1.6, the documentation written properly.
Are you able to check it on your side?
In any case is https://github.com/sideangleside/sat6-bootstrap/pull/35 fixing your problem?

[2016-03-21 10:40] #42 closed, assigned to nobody

[2016-03-23 13:02] mccun934 commented on #46
Update:

I took what was in this repo and rebased it here:

https://github.com/Katello/client-bootstrap

it is slightly out of date and I need to get the following commits merged in:

c8e1261 Merge pull request #48 from evgeni/disassociate-before-delete
7688302 Merge pull request #45 from evgeni/multiple-ancestry-fix
8aef0e1 Merge pull request #44 from Rocco83/master
fb9d3ad Added default value to

[2016-03-23 13:17] evgeni commented on #46
@mccun934 I think @sideangleside should be able to move the repo from here to katello. then issues/prs will be preserved.

[2016-03-24 18:14] homandr opened #2 "Issue with spaces in location, organization, host group names"
The script fails when there are spaces in names. For example, host group name is "My Host Group". The script substitutes spaces with + in a URL. However, it doesn't work with Satellite 6.1.7 (can't speak for older versions).
When I manually try to use double quote characters in URL and test it in a browser, it returns proper results. Like so:
https://satellite.example.com/api/v2/hostgroups/search=

[2016-03-25 22:45] rplevka opened #50 "get_bootstrap_rpm doesn't die in case if remote package doesn't exist"
`get_bootstrap_rpm` calls `exec_failexit` on `yum localinstall` but due to way `yum` handles responses, it does not catch the failure in download of the package:

[code]
- so it evaluates this situation as a success and continues.

[2016-03-26 19:07] Rocco83 commented on #46
Seems to me that the project has been rebased, keeping the name but under Katello. Am i correct?
On the other side the project is not in sync with commits, but it have some other commit inside.
Next steps?

Thanks
Daniele

[2016-03-30 22:13] #41 closed, assigned to nobody

[2016-03-30 22:22] Rocco83 commented on #2
Hi,

The code of this repository is currently a copy of https://github.com/Katello/sat6-bootstrap.
Please check https://github.com/Katello/sat6-bootstrap/issues/46#issuecomment-200336638.
This issue should be fixed by https://github.com/Katello/sat6-bootstrap/commit./8aef0e1407a07a3f1fa645276aa63d0ff04e5516 currently missing in this repository.

I do not know currently which will be the next steps

[2016-03-30 22:28] Rocco83 commented on #50
Hi,

i have to admit that i do not know the yum internals.
Based on https://bugzilla.redhat.com/show_bug.cgi?id=753089 localinstall is totally deprecated.
Referring to https://ask.fedoraproject.org/en/question/37721/what-is-the-difference-between-yum-install-and-yum-localinstall/ seems that there are no difference between install and localinstall for "local" packages.

Are you able to check if cha

[2016-03-31 07:59] rplevka commented on #50
@Rocco83 yes, that seems to work the same way and returns `1` which is exactly what we need

[code]

[2016-04-01 16:39] mccun934 commented on #46
This is now complete, you may need to rebase your PRs as we had to make this script non-Satellite specific and upstream friendly

[2016-04-01 16:40] #46 closed, assigned to nobody

[2016-04-01 19:06] mrmattx3 opened #52 "Odd issue in return_matching_id..."
Greetings all,

Disclaimer would be that this is probably something missing on my RHEL7 (hooking to Sat 6.1) server.

When I run the script, I get through several of the steps and then come out with this error:

[SUCCESS], [2016-04-01 13:56:45], [/usr/bin/yum -y localinstall http://myserver.com/pub/katello-ca-consumer-latest.noarch.rpm --nogpgcheck], completed successfully.

Traceback (most recent

[2016-04-01 19:24] rplevka commented on #52
could you doublecheck that `yum -y localinstall` (the very top line of the output you pasted) really succeeded in installing the rpm?
the [SUCCESS] in your log might be misleading due to this bug:
https://github.com/Katello/client-bootstrap/issues/50

not having the certificate installed might lead to errors in ID retrievals later in the script which might be your case

[2016-04-01 19:32] mrmattx3 commented on #52
I ran it manually and it came back with the following.  Assuming this means it's already there?

_yum -y localinstall http://bogushost.domain.com/pub/katello-ca-consumer-latest.noarch.rpm --nogpgcheck
Loaded plugins: langpacks, product-id, rhnplugin, search-disabled-repos, subscription-manager
This system is receiving updates from RHN Classic or Red Hat Satellite.
katello-ca-consumer-latest.noarch

[2016-04-01 19:34] Rocco83 commented on #52
can you please paste the full output with verbose output?

Thanks,
Daniele

[2016-04-01 19:44] mrmattx3 commented on #52
[yum_output.txt](https://github.com/Katello/client-bootstrap/files/200231/yum_output.txt)

[botstrap_log_verbose.txt](https://github.com/Katello/client-bootstrap/files/200304/botstrap_log_verbose.txt)

Files attached for both commands with -v.  I had to cleanse them a little, but this is the output.

Thank you folks for your persistence.

[2016-04-01 19:51] Rocco83 commented on #52
My best bet, "Default Org" is not existing and you hitted a bug in handling this exception.
can you please run
`hammer organization list`
and of course post the output?

[2016-04-01 19:57] mrmattx3 commented on #52
Interesting...  I'm masking the name here, but this is what I got.  Could the space in the name be causing the issue?

root@topjcnt-rhsat-00 bin]# hammer organization list
[Foreman] Username: xxx
[Foreman] Password for xxx:
---|--------------|--------------|------------
ID | NAME         | LABEL        | DESCRIPTION
---|--------------|--------------|------------
3  | Default Org | Default_Org |
--

[2016-04-01 20:08] rplevka commented on #52
yeah, looks like it's the space in the name - this is already a known issue; i'm having a pending PR to handle this, could you possibly try to apply this change?
https://github.com/Katello/client-bootstrap/pull/49
in a nutshell, it url-encodes the org name before it passes it as an argument (so the space becomes a %20)
(you might have to change `foreman_fqdn` to `sat6_fqdn` depending on how old yo

[2016-04-01 20:15] Rocco83 commented on #52
:+1: i am moving to the other thread. i have some suggestion.

[2016-04-01 20:32] Rocco83 commented on #52
@mrmattx3 is "****" something you should remove in your attached file?
(removed after fix)

[2016-04-01 20:36] mrmattx3 commented on #52
Fixed.  Thanks for the heads up.

[2016-04-05 15:17] rplevka opened #53 "loose the hardcoded error message as it produces confusing errors"
Perhaps the following lines of code should be dropped:
https://github.com/Katello/client-bootstrap/blob/master/bootstrap.py#L241-#L242
as they provide confusing output if the root cause is completely different from 'connecting to API':

e.g.:

[code]

[2016-04-05 21:14] Rocco83 commented on #53
What about handling the HTTP error 401 vs 422 vs others?

[2016-04-06 08:25] rplevka commented on #53
Sure, that would address the issue as well

[2016-04-07 08:04] Rocco83 opened #54 "Fix quoting in return_matching_id()"
Based on https://github.com/Katello/client-bootstrap/pull/49#issuecomment-204562314 quoting must be fixed for every call to return_matching_id().
More information https://github.com/Katello/client-bootstrap/pull/49#issuecomment-204559470

[2016-04-07 08:13] Rocco83 opened #55 "Make usage of a more generic function"
Based on https://github.com/Katello/client-bootstrap/pull/44 and https://github.com/Katello/client-bootstrap/pull/49#issuecomment-204557946
the current function
`return_matching_id(api_name, search_key, null_result_ok=False):`
should became something like
`return_matching_key(api_name, search_key, null_result_ok=False, return_key="id"):`

Following functions should became useless:
https://github.c

[2016-04-09 00:07] Rocco83 commented on #55
Some proof of concept in https://github.com/Rocco83/sat6-bootstrap/commit/ceb8f6a8130f14481ff3698b55a95d1f0462b31c this is not currently doing nothing with return_key.

[2016-04-09 00:08] Rocco83 commented on #54
This should be fixed in https://github.com/Rocco83/sat6-bootstrap/commit/ceb8f6a8130f14481ff3698b55a95d1f0462b31c
PR will follow

[2016-04-09 00:11] Rocco83 opened #57 "error in return_matching_id print_error"
The line
https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L317
have a syntax error

Fixed in https://github.com/Rocco83/sat6-bootstrap/blob/master/bootstrap.py#L318
PR will follow

[2016-04-18 16:31] Rocco83 commented on #55
I came up in one issue.
-  subscription-manager want label for organizations
-  label is not present in the return values of Foreman API, but are present in Katello API.
  Reference: Satellite 6.1.7

I see three path possible:
1. adding the API needed in every call
`return_matching_key(api_name, api_kind, search_key, null_result_ok=False, return_key="id"):`
2. create one fixed array of keys, when

[2016-04-19 06:04] evgeni commented on #55
1. Wait for Katello 3.0/Satellite 6.2 where the API was unified (at least I hope so, did not try the nightlies yet).

But yeah, we might want that compatible with 6.1 too…

How about that?

[code]

That way you would not have the (IMHO very ugly) `/api/v2` (or `/katello/api`) in every call.

[2016-04-19 07:55] rplevka commented on #53
@Rocco83 anyway, I think dropping the 'cannot connect to the API' message would do (at least for now). The other errors seem to be self explaining.
What do you think?

[2016-04-26 21:19] Rocco83 commented on #52
@mrmattx3 did https://github.com/Katello/katello-client-bootstrap/issues/49 fixed this issue?
If so, can you close the issue?

[2016-04-26 21:33] Rocco83 commented on #50
LGTM :+1:
this is a long waiting topic, the fix is pretty straightforward.
@mccun934 any plan on next merging?

[2016-04-26 21:40] Rocco83 commented on #53
@rplevka :+1: please check https://github.com/Katello/katello-client-bootstrap/issues/61

[2016-04-26 22:19] Rocco83 opened #62 "Refactoring of try/catch for API call"
We have the same code over
get_json() https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L230
post_json() https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L251
delete_json() https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L277.
In almost all catch.
https://github.com/Katello/katello-client-bootstrap/blob/master/boot

[2016-05-02 14:50] #50 closed, assigned to nobody

[2016-05-02 14:50] #57 closed, assigned to nobody

[2016-05-02 14:51] #54 closed, assigned to nobody

[2016-05-03 00:31] Rocco83 commented on #55
Fixed

[2016-05-03 00:31] #55 closed, assigned to nobody

[2016-05-03 00:32] Rocco83 commented on #53
@rplevka can you check and close the issue if fixed?

[2016-05-03 06:39] evgeni commented on #62
also, I think we should just have one "call_api" function, which can do GET, POST and DELETE. I have started something like this, will post later :)

[2016-05-03 21:15] evgeni commented on #62
@rplevka @Rocco83 please see my first (totally untested, did not want to boot my vm) approach here: https://github.com/evgeni/sat6-bootstrap/compare/master...unify-http-requests

not sure I want to keep `ignore_404` as a parameter, it could also be unconditionally `True` if `method=='DELETE'`, and `False` otherwise.

[2016-05-05 22:51] sideangleside opened #64 "[RFE] Add support for removing RHUI Packages"
I want to add support for removing packages that provide access to repositories hosted by RHUI (which is used by various cloud providers, such as Amazon). There are two ways I am thinking of tackling this:
- Add a new switch (--remove-rhui-packages), which calls 'yum remove rh-_-rhui-client_'
- refactoring the (-R | --remove-rhn-packages) switch (and associated function), to make a generic (-R | -

[2016-05-06 06:02] evgeni commented on #64
Removing RHUI packages sounds sane, yeah. I think we should call the option `--remove-obsolete-packages` and keer `--remove-rhn-packages` as an deprecated alias.

And yes, removing cruft by default sounds sane too. Keeping them would then go via `--remove-obsolete-packages=no`?

[2016-05-06 14:09] evgeni commented on #62
updated the code, now with nicer error formating (yay, json.dumps) and better verbose output

[2016-05-06 14:33] rplevka commented on #62
https://github.com/evgeni/sat6-bootstrap/compare/master...unify-http-requests?diff=unified&name=unify-http-requests#diff-cd48c161c09e850299d4a00383422690R280
- is this supposed to be cooler than search+replace? :)

[2016-05-06 14:40] evgeni commented on #62
Yeah, technically one could replace all `get_json` calls with `call_api`. I don't really mind either way, to be honest.

[2016-05-06 14:43] rplevka commented on #62
@evgeni :+1:  on your approach. @Rocco83, could we get your opinion, please?

[2016-05-06 14:56] evgeni commented on #62
thanks @rplevka

dropped the `ignore_404` part as discussed on IRC, we are not going to try to delete non-existant hosts since 4967bc1c222e14bee887c480616f174582d3b176

[2016-05-06 15:35] Rocco83 commented on #62
Sorry for the delay.
Seems good to me, still i have not tested the code.

I have made a comment on
https://github.com/evgeni/sat6-bootstrap/commit/f764a170532d1fe01e4a103e29b5c587693d9b67?diff=split#diff-cd48c161c09e850299d4a00383422690R259
because the API can be foreman or katello :)

Anyway this is a very good improvement 👍

[2016-05-06 15:39] Rocco83 commented on #64
👍 on evgeni.

[2016-05-06 16:26] Rocco83 opened #65 "RHEL5 support"
Hi,

I am testing finally the script on some RHEL5, python 2.4.

Got, up to now, the following problems:
- json python non existing.
  Solution: http://stackoverflow.com/questions/3291682/json-module-for-python-2-4
  Status: Tested, working
- sys.maxsize non existing.
  Solution: http://stackoverflow.com/questions/1405913/how-do-i-determine-if-my-python-shell-is-executing-in-32bit-or-64bit-mode-on

[2016-05-06 17:08] evgeni commented on #65
I have a long standing branch on this: https://github.com/evgeni/sat6-bootstrap/tree/rhel5
never merged, though

[2016-05-06 20:24] Rocco83 commented on #65
Well, shame on me... i have not checked the fork :)
Discussing about the code:
- 64 bit check

yours https://github.com/Katello/katello-client-bootstrap/compare/master...evgeni:rhel5?expand=1#diff-cd48c161c09e850299d4a00383422690R25
mine https://github.com/Katello/katello-client-bootstrap/pull/66/commits/e0469f3eadd16a3813db96738898fad736ae465d#diff-cd48c161c09e850299d4a00383422690R25
Your approac

[2016-05-07 10:24] evgeni commented on #65
64bit check was taken as an idea from https://docs.python.org/2/library/platform.html#platform.architecture
checking `sizeof(void *)` as you do should work too, yeah. I don't really mind either.

distribution: both should work, so I don't care which we take :)

json: the idea is that we try to install python-simplejson if that is not available (yet), and I'd prefer that.

the code was tested by @M

[2016-05-07 10:26] evgeni commented on #53
also #67 should help here :)

[2016-05-09 08:41] Rocco83 commented on #65
Good,
@evgeni can you please create a PR in the meaintime?
I have closed mine.

[2016-05-09 08:53] evgeni commented on #65
@Rocco83 done :)

[2016-05-13 08:56] #65 closed, assigned to nobody

[2016-05-13 08:56] #62 closed, assigned to nobody

[2016-05-13 09:34] rplevka commented on #53
This has been fixed already.

[2016-05-13 09:34] #53 closed, assigned to nobody

[2016-05-13 09:35] evgeni commented on #52
@mrmattx3 if the current version in git is good, could you please close this issue? :)

[2016-05-13 13:24] mrmattx3 commented on #52
Apologies.  Done.

[2016-05-13 13:24] #52 closed, assigned to nobody

[2016-05-13 13:38] peppos opened #71 "/var/lib/puppet/ssl creation fail"
When script run

I found this error in rhel 5 and rhel6

[code]

I identify the problem in line 224.

I change it in

and work fine

[2016-05-13 15:47] evgeni commented on #71
damn, thanks for spotting this. my bad. PR opened.

[2016-05-13 15:49] #71 closed, assigned to nobody

[2016-05-13 15:54] evgeni opened #73 "release is not used"
`register_systems(org_name, activationkey, release)` gets a `release` parameter but does not use it (that was removed in b63a0cea7f25b29d7a25f610d680da61b80e0f41).

also, while at it, the RHEL5 check probably should use `options.release` in https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L495

[2016-05-16 08:27] peppos commented on #73
@evgeni I confirm you that "option.release" correctly work  in RHEL5

[2016-05-16 08:27] peppos commented on #71
work! tanks @evgeni

[2016-05-16 08:58] gorantornqvist opened #74 "Does not work with foreman locations disabled"
When omitting the -L parameter I get a 404 from API url /api/v2/locations/?search=title%3DDefault_Location

Would be nice to be able to use the script without locations enabled ...

[2016-05-17 20:04] evgeni commented on #74
true. patches welcome? :-)

from a quick glance at the code, we would have to:
- make `--location` optional
- in `create_host()` only lookup `mylocid` if `options.locations` is not `None`
- in `create_host()` only add `location_id` to `jsondata` if `options.locations` is not `None`
- in `create_host()` adjust the printed message

does not seem to bad/complicated?

[2016-05-23 13:49] evgeni commented on #74
@gorantornqvist can you please test https://github.com/evgeni/sat6-bootstrap/tree/drop-location-dependency? this _should_ do what you want, but is untested ;-)

[2016-05-23 14:06] evgeni commented on #64
@sideangleside there, please test :-)

[2016-05-25 11:35] evgeni opened #76 "bootstrap hangs if rhsmcertd hangs"
situation similar to
https://access.redhat.com/solutions/1342823
https://access.redhat.com/solutions/1754373
https://access.redhat.com/solutions/2110281
https://access.redhat.com/solutions/2202931

should we bounce rhsmcertd before trying?

[2016-05-27 08:59] lzap opened #77 "Does not work for me with 6.2"
I can't get it working against 6.2 beta. I already noticed there is some confusion between name/title of the organization, so I made some changes myself:

[code]

But then:

[code]

The URL that is causing issues is:

[code]

[2016-05-27 09:01] lzap commented on #77
The command I was trying was:

[code]

I can tell the hostname which is running 6.2 beta at the moment to give reproducer (privately).

[2016-05-27 11:34] lzap commented on #77
Looks like version from master is in better shape!

[2016-05-27 11:34] #77 closed, assigned to nobody

[2016-05-27 16:10] Rocco83 opened #79 "keep connection open to API"
There are currently several call to katello/foreman API, and, in my understanding, every call is asking for a new authentication.
It would be a good improvement to have one initial "login", perform operations, and "logout" at the end of the script.
In example, in case of LDAP connection Foreman/Katello give sometimes 500 error in authentication.
This can be a workaround.

What do you think about i

[2016-05-30 06:41] evgeni commented on #79
The API currently does not support any kind of non user/pass login:
- https://bugzilla.redhat.com/show_bug.cgi?id=1154382
- http://projects.theforeman.org/issues/8016
- http://projects.theforeman.org/issues/1301
- http://projects.theforeman.org/issues/13602
- http://projects.theforeman.org/issues/8923

Until this is resolved, I do not really see a way for bootstrap to fix your issue.

Keeping the

[2016-06-06 11:50] evgeni opened #82 "does not work on i386"
`ARCHITECTURE` is either `x86` or `x86_64` but the archs are called `i386` and `x86_64`…

spotted while reviewing @lzap's code

[2016-06-07 06:07] lzap commented on #82
Yeah that is not correct, architecture can be arbitrary string, but with
the initial puppet fact upload new architecture i386 will be created and
associated with the host. Facter simply uses uname, I was checking this.

##

Later,
 Lukas #lzap Zapletal

[2016-06-07 14:45] evgeni commented on #74
@gorantornqvist ping? :-)

[2016-06-07 17:37] gorantornqvist commented on #74
Sorry, I didnt see the emails. I will test the script tomorrow...

[2016-06-07 17:40] sideangleside opened #86 "When using the --skip-foreman switch we should not prompt for username/pasword."
If I wanted to use bootstrap.py and only register the system for content via katello, I'd want to issue

[code]

However, this command prompts me for password.
As newer Katello versions (3.0+) have [Unified Hosts](http://www.katello.org/docs/3.0/release_notes/release_notes.html), we no longer need to create the host in Foreman so that the host / content-host entry are properly linked.

We'd still

[2016-06-07 19:06] evgeni commented on #74
no worries, take your time, just wanted to make sure that you are actually about to test it ;-)

[2016-06-07 20:16] evgeni commented on #86
So you want something like 2cde7cf? To be honest, `--skip-foreman` was designed exactly for that: don't need an API user. I have no clue why this slipped my tests. Or maybe I just passed `-p blah` as I knew it's unused.

[2016-06-08 07:27] gorantornqvist commented on #74
Hi,
I don´t get the location error anymore, although I get this error on my Satellite 6.1.9 which is something different.

[RUNNING], [2016-06-08 09:05:12], [Calling Foreman API to create a host entry associated with the group & org]
Error: The following error occured while talking to the API:
url: https://satellite:443/api/v2/hosts/
code: 422
`
data: {
  "host": {
    "managed": "true",
    "name

[2016-06-08 07:35] evgeni commented on #74
Hi @gorantornqvist,

great that you are over the hill and up to the next issue :-)

Does the hostgroup you are trying to deploy into (id=47) have a default subnet set? And if it does, what are the settings of that subnet? I had a similar issue some time ago in my tests, and the issue was that the subnet had some bad settings (can't remeber which exactly, but can look up later if you want).

[2016-06-08 08:49] gorantornqvist commented on #74
No, I have no subnet set on the hostgroup since we don´t use subnets in Satellite 6. Tried to create a dummy subnet with all network settings and assign it to the hostgroup but same error occurrs. So I don´t think I can leave IP out I´m afraid.

Its no biggie though, I was just looking for the best way to migrate a bulk of RHEL6 hosts to Satellite later this year. We can also use our home made sat

[2016-06-08 08:56] evgeni commented on #74
@gorantornqvist can you try with `--unmanaged` please?

[2016-06-08 11:01] gorantornqvist commented on #74
with --unmanaged it registered fine, thanks...:)

[2016-06-08 18:21] sideangleside commented on #86
Yes. https://github.com/Katello/katello-client-bootstrap/commit/2cde7cfbe9934cec542ea5364c22d5296d5884cb does exactly what we need.

[2016-06-08 21:42] #86 closed, assigned to nobody

[2016-06-08 21:43] #64 closed, assigned to nobody

[2016-06-15 16:24] ericzolf opened #93 "[RFE] create_host to succeed even if there is no environment_id attached to Host Group"
As the subject says, create_host fails with an error that a null environment_id isn't acceptable.

Adding the following two lines solved the issue for me, but it sounds slightly ugly, because it assumes an ID of 1 for production, and I don't know if there are no side effects if the Puppet environment of the created host is set "forcefully" to _production_:

[code]

[bootstrap-envid_patch.txt](http

[2016-06-16 07:43] evgeni commented on #93
bootstrap.py expects the HG to be set up properly: https://github.com/Katello/katello-client-bootstrap/blob/master/README.md#assumptions

if you do not have the HG set up to use puppet, you can skip it completelly with `--skip-puppet`

[2016-06-20 06:52] ericzolf commented on #93
Hi Evgeni,

I'm fine with the fact that it's working as it should (it's not a bug, it's a feature), but it doesn't mean we can't change the way it works, and I think that there are customers using Puppet only for gathering facts, in which case, it doesn't make sense to care about the Puppet environment.

OK, I've rephrased it as RFE.

KR, Eric

[2016-06-27 11:25] evgeni opened #95 "[RFE] check for updates"
it would be nice if `bootstrap.py` could check if `http(s)?://<katello_fqdn>/pub/bootstrap.py` is a newer version and download it.

idea by @bergsjoh

[2016-07-06 15:30] bergsjoh opened #96 "[RFE] Provide bootstrap on capsules via reverse proxy"
Keep a single place for the bootstrap.py file. For example if its located in the /usr/share/foreman/public directory, it will be available on capsules as https://<capsule>:8443/bootstrap.py via the reverse proxy.

This way it doesn't need to be managed and under control on every capsule in the infrastructure.

[2016-07-06 15:34] bergsjoh opened #97 "[RFE] Make katello-ca-consumer rpm download over https"
Reduce the requirements of firewall openings even more.

Keeping port 80 opened to capsule/satellite as a requirement just to download the bootstrap from clients seems a bit unnecessary.

[2016-07-06 15:38] sideangleside commented on #96
The bootstrap is unique **per** Satellite/Capsule, hence why it is retrieved from the hostname that the user specified.

[2016-07-06 16:11] sideangleside commented on #97
RPM uses **libcurl** underneath the hood if I remember corectly. I don't know if we can teach it the equivalent of **curl -k**. That being said, I am definitely +1 to using HTTPS anywhere and everywhere. Though we'd not be able to completely remove the port 80 requirement as the Red Hat family OS's require it for kickstart. (RHEL7 _can_ do HTTPS, but it is not enabled in the provisioning templates

[2016-07-07 08:10] bergsjoh commented on #96
Ah okay. In my design/infrastructure it's common over all sat/capsules, easier to keep it managed in a single place. Our solution is to provide bootstrap via reverse proxy on capsules.

[2016-07-07 08:14] bergsjoh commented on #97
OK. In my infra we have added a separate filedownloader function to bootstrap that doesn't care about the certificate warning over https. We use that to download the rpm over https.

We don't use provisioning yet, but I will look into it in the future, and in the design we are planning to have separate provisioning capsules for that, they will have to have separate firewall openings then I guess.

[2016-07-07 08:23] bergsjoh commented on #95
I have implemented this in my infra, it's working great. Keeping operators from saving old bootstrap files locally hitting old bugs etc.

Oh and we use the reverse proxy (see separate RFE) to provide bootstrap, so it checks https://<capsule_fqdn>:8443/bootstrap.py obviously.

[2016-07-20 16:11] rplevka opened #98 "get_bootstrap_rpm() exits in case the ca-consumer package already installed"
After addressing https://github.com/Katello/katello-client-bootstrap/issues/50 we exit the bootstrap script on finding out the package is already installed

[code]

We can replace the installed package easily by adding `--replacepkgs` to the `rpm` command, however I won't post a PR until we decide we want this.

Exiting the bootstrap script on finding some version of this package installed might b

[2016-07-20 16:22] rplevka opened #99 "Unable to call the script with OS having a space in the title"
bootstrap script currently uses a `title` field of `os` entity in the API call in order to get the needed `os`.
However, the title of the os in katello is constructed from OS name and major version joined with a space (e.g. `Centos 7`).
Since the space is not being urlencoded, the resulting api call will fail to find the correct OS and whole script fails.

[2016-07-20 22:33] rplevka commented on #98
totally forgot we already have `--force` option implemented which takes care of this. Closing the issue (sorry)

[2016-07-20 22:33] #98 closed, assigned to nobody

[2016-07-21 06:04] evgeni commented on #99
Hey,

I'd say it is properly encoded?

The only OS API call is in `create_host`, which calls `return_matching_foreman_key` with `title="%s"` and that get's later `urlencode`d in `return_matching_key`:

[code]

Can you please provide a `--verbose` output, if this fails for you?

[2016-07-21 06:10] evgeni commented on #98
@rplevka as this is not the first time people stumble over this non-issue, maybe we should improve our docs here?

[2016-07-21 08:04] rplevka commented on #98
@evgeni - i think the help sommand says it all. This is purely a problem with a user :)

[2016-07-21 11:37] rplevka commented on #99
Apparently the query looks like 'centos+7'

[code]

[2016-07-21 11:44] evgeni commented on #99
Errr. Yeah. Why do you use `-O="'centos 7'"`? Can you please try `-O "centos 7"`

[2016-07-21 13:04] evgeni opened #100 "[RFE] should check if run as root"
otherwise nothing will work and the user will get funny errors

[2016-07-21 13:44] evgeni commented on #97
+1, just run into the same issue.

from a quick glance at RPM docs, I see no way to pass curl's -k to it :(

filedownloader would work, but is kinda ugly :(

[2016-07-21 13:58] evgeni opened #101 "document the need for a "recent" subsciption-manager-migration"
in the case of migration, we call `rhn-migrate-classic-to-rhsm` with `--activation-key`, but that is only available since 1.14 (see https://github.com/candlepin/subscription-manager/commit/00461f3751f9db182227c9973c41b305e378638a)

this failed for me on a rhel 6.6 machine which only had 1.12 :(

[2016-07-21 14:37] rplevka commented on #99
oops. sorry, i actually did, i just copied the wrong part :)

[code]

[2016-07-21 14:39] evgeni commented on #99
Sure that you did not use `-O "=centos 7"`?

Please paste the bootstrap line :)

[2016-07-21 14:45] rplevka commented on #99
@evgeni :)))

[code]

..so yeah - it was the -O=

[2016-07-21 14:54] evgeni commented on #99
:)

shortopts do not take a =, it's either `-O foo` or `--operatingsystem=foo` (or `--operatingsystem foo`)

I guess it works now?

[2016-07-21 14:55] rplevka commented on #99
yes, it does. silly mistake of mine.
well...got stuck on another error, but that'd be a story for a different issue ;)

thanks!

[2016-07-21 15:02] #99 closed, assigned to nobody

[2016-08-02 00:24] #101 closed, assigned to nobody

[2016-08-19 12:24] evgeni commented on #82
fixed by @lzap in b0c4afca25a1c5b46d7d47f8de11acf365d5a3e9, thanks

[2016-08-19 12:25] #82 closed, assigned to nobody

[2016-08-19 12:38] evgeni commented on #96
@sideangleside why is it unique? it's just the file coming from the RPM, nothing special/generated (in contrast to Sat5, iirc)

[2016-08-20 09:41] sideangleside commented on #96
Rereading the comment above, I realized that I made an incorrect statement. The bootstrap script (bootstrap.py) is the exact same on each Satellite/Capsule. The **katello-ca-consumer-latest.noarch.rpm** package (occasionally referred to as the 'bootstrap rpm') _is_ unique per Satellite/Capsule.

My apologies.

[2016-08-20 13:02] Rocco83 commented on #96
If capsules are used for segregation of the network, the client need to retrieve somehow the bootstrap.py file.
the reverse proxy seems to me a robust solution.

also the possibility to use the latest bleeding edge version of this software can be an extension of this RFE.

my 2 cents
Daniele

[2016-08-24 20:21] zjhuntin opened #105 "[RFE] Should be able to bootstrap with puppet 3 and puppet 4"
As we are moving closer to integrating puppet 4 into Katello it would be good to have this also be able to boot strap systems with puppet 4.

[2016-08-30 19:19] evgeni commented on #105
@zjhuntin totally agree. are you aware of any needed changes for that? did puppet.conf syntax change?

[2016-09-02 14:58] #100 closed, assigned to nobody

[2016-09-21 20:10] pgera opened #110 "Works only with local users"
I think the call_api needs a local foreman user to work. I got a permission denied error with a freeipa user, although the user had admin privileges.

[2016-10-04 12:37] bergsjoh commented on #110
I'm using it with external LDAP users, no problem.

[2016-10-04 20:23] Rocco83 commented on #110
I am using LDAP user as well.
I will share my current grants given at satellite level.
Anyway would be interesting to share something more about user detail that you are using, to replicate the problem.

[2016-10-04 22:17] Rocco83 commented on #97
If i have got the problem
1) we have to download an rpm to setup katello
2) to download the rpm we use rpm directly
3) the certificate of katello is not yet available
here we have the issue.

Is this correct?
If so, another possible way to fix it is to download and hash the ca certificare of katello correct, before the download of the rpm, correct?

[2016-10-05 20:26] #74 closed, assigned to nobody

[2016-10-14 08:48] evgeni commented on #13
no update for a long time → closing.

feel free to reopen if the issue persists.

[2016-10-14 08:48] #13 closed, assigned to nobody

[2016-10-19 11:14] orglnte opened #117 "--enablerepos bug"
just take a look at line 509, I also created a comment on that

[2016-10-19 20:47] #117 closed, assigned to nobody

[2016-10-19 20:48] evgeni commented on #117
thanks for spotting!

[2016-10-27 13:05] sean797 opened #119 "bootstrap.py katello-ca-consumer rpm fails if it already installed"
If you run ./bootstrap.py and the katello-ca-consumer rpm is already installed it fails :-1:

[2016-10-27 14:12] sideangleside commented on #119
that is by design. If you run bootstrap with the `--force` switch, it will remove the existing RPM and reinstall it.

[2016-10-28 10:02] sean797 commented on #119
Thanks @sideangleside!

[2016-10-28 16:22] sideangleside commented on #119
I think it is reasonable for bootstrap to have a better failure message in this scenario to inform the user of the `--force` option. You aren't the first user to ask/notice. Reopening this issue so that it can be addressed.

[2016-11-08 15:26] peppos opened #126 "Not real hostname are used"
When in my /etc/hosts exist many entries with same ip, the bootstrap.py use the first entry and not a real hostname and domain from "hostname -f". I saw that part of the script that values the variables is this:

[code]
Is possible to change this for use a real hostname from hostname -f for example?

[2016-11-09 10:34] evgeni commented on #126
Hey @peppos, thanks for the report!

I would really prefer to keep a pure Python solution (read `socket.getfqdn()`) instead of calling an external binary. I am not even sure if having the same IP adress in `/etc/hosts` is properly defined.

Could you please post the content of `/etc/hosts` and the outputs of `hostname`, `hostname -s`, `hostname -f`, `python --version` and `python -c 'import socket

[2016-11-09 11:35] peppos commented on #126
Hi @evgeni, thanks for your reply.
here is the information required:

[code]

[2016-11-11 17:41] #119 closed, assigned to nobody

[2016-11-16 22:33] evgeni commented on #126
Related @ansible issue: https://github.com/ansible/ansible/issues/9972 (related as it is also using `socket.getfqdn()`)

[2016-11-16 22:35] evgeni commented on #126
Downstream (Satellite) BZ https://bugzilla.redhat.com/show_bug.cgi?id=1361339

[2016-11-17 19:38] itewk commented on #110
I ran into this same issue using IdM. So maybe this is a difference between using the LDAP provider and using the IdM integration?

I followed: https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/6.1/html/User_Guide/sect-Red_Hat_Satellite-User_Guide-Configuring_External_Authentication-Using_Identity_Management.html

Maybe @bergsjoh and @Rocco83 were using https://access.redhat.com/docu

[2016-11-17 20:25] pgera commented on #110
Yes, I used something like katello-installer --foreman-ipa-authentication=true during the setup

[2016-11-17 21:12] sideangleside opened #131 "[RFE] Always pass --force to rhn-migrate-classic-to-rhsm"
in the `migrate_systems()` function, we call `rhn-migrate-classic-to-rhsm` to migrate systems from Classic to Sat6. By default, the `rhn-migrate-classic-to-rhsm `script fails if the user has custom channels defined.

[code]
We should always pass --force to rhn-migrate. The manual states:

[code]

I see no downside to doing this. Of _course_ we can't install product certificates for custom channels

[2016-11-17 21:55] evgeni commented on #110
Thanks to @itewk I had access to a machine where this happens, had a lovely date with the @theforeman code have at least three more grey hairs…

The underlying issue is http://projects.theforeman.org/issues/11317 aka https://bugzilla.redhat.com/show_bug.cgi?id=1266407 and I fear there is not much we can do about this at the moment.

[2016-11-17 22:05] evgeni commented on #131
I _thought_ we were already doing this. :+1:

[2016-11-18 00:25] sideangleside commented on #131
Nope. Only if the user passes `--force` to bootstrap.py do we pass `--force` to rhn-migrate. I'd assert that:
- the `--force` option to rhn-migrate is poorly named
- I don't want to make the user pass `--force`to bootstrap.py for such a common use case.

[2016-11-18 22:17] #131 closed, assigned to sideangleside

[2016-12-05 22:08] sideangleside commented on #96
The reverse proxy on the Capsule already proxies back to the upstream Katello/Satellite.

From `/etc/httpd/conf.d/28-katello-reverse-proxy.conf`:

[code]

And you can verify this via curl:

[code]

I would state that this capability already exists.

[2016-12-08 10:17] bergsjoh opened #142 "systemctl / chkconfig"
In install_katello_agent and install_puppet_agent bootstrap is using chkconfig.

In some cases (where you might run automation, with non-full environments etc) you will end up with errors due to chkconfig redirection to systemctl on RHEL7 doesn't work.

Proposed fix: Run systemctl commands for rhel7, chkconfig for < rhel7.

[2016-12-11 14:42] evgeni commented on #142
In which environment would that not work?

Quick check on a EL7 machine yields:
[code]

So yeah, we could add an if/else to the right places, to make the code clearer. But it should work already today.

[2017-01-03 00:49] sideangleside opened #143 "Creation of /etc/rhsm/facts/katello.facts fails on systems that do not have subscription-manager installed"
On older systems that do not have subscription-manager (or on systems where the admin never installed it), the creation of `/etc/rhsm/facts/katello.facts fails` with a traceback similar to the following:

[code]

This is because `/etc/rhsm/facts` is created (and owned) by the subscription-manager package and doesn't exist until after the package is installed.

We can address this one of two ways.

[2017-01-03 08:03] evgeni commented on #143
I'd prefer to move the facts creation after the installation of sub-man.

[2017-01-03 10:02] dLobatog commented on #143
Submitted patches for both solutions, feel free to close whichever is not merged

[2017-01-04 16:46] Tontonitch opened #146 "Satellite complains about blank IP during host entry creation"
Hello,

I'm trying your script to add existing servers into our Satellite (6.2.5).
I have an issue, as the script fails at the host entry creation as Satellite complains about blank ip.
Please note that we use static IPs for servers, so no dhcp.
[code]
BR,
Yannick

[2017-01-04 17:12] Tontonitch commented on #146
tested forcing jsondata with the ip setting
`    538     jsondata['host']['ip'] = 'xxx.xxx.xxx.xxx'`

it works

[2017-01-05 08:16] #143 closed, assigned to sideangleside

[2017-01-05 08:17] evgeni commented on #146
Hey,

what is the subnet definition of the default subnet for hostgroup with id 8?

[2017-01-05 13:20] Tontonitch commented on #146
[code]
[code]
[code]

[2017-01-05 13:36] evgeni commented on #146
Now you ommited the most interesting part, I was looking for the DHCP and IPAM entries.

[2017-01-05 14:23] Tontonitch commented on #146
Ok, hereunder:
DHCP:          satelliteserver.mydomain (https://satelliteserver.mydomain:9090)
IPAM:          None

Boot mode is also set to "Static".
The DHCP seems to be enabled on the Capsule, but is in fact not used.

[2017-01-07 14:39] Tontonitch commented on #146
Hi Evgeni,

For your info, I added a --ip option to my katello-client-bootstrap fork.
https://github.com/Tontonitch/katello-client-bootstrap/commit/f1296ac89c3756af4c9ec8517dc6de420e479021
I would say it is quick and dirty, and it would be better if the script would detect automatically the IP matching the detected MAC address. But at least it works.

Best regards,
Yannick

[2017-01-07 14:46] evgeni commented on #146
Hey Yannick,

makes sense, yeah. Another solution would be to call bootstrap with `--unmanaged`.

I'll try to look into this some time next week, but I think your commit is a good start for now.

@sideangleside thoughts on that?

[2017-01-07 15:14] evgeni commented on #146
scratch next week, can you try https://github.com/evgeni/katello-client-bootstrap/tree/ip?
this is your `--ip` plus some code to find an IP if none was passed

[2017-01-10 10:43] Tontonitch commented on #146
Hi Evgeni,
It works perfectly now, using or not the --ip option.
Thanks!
Yannick

[2017-01-12 23:57] gearboxscott opened #148 "--legacy-purge"
Maybe I'm reading this wrong but this is supposed to remove it from the satellite 5 server correct?   We just tried it and it didn't make a api call the sat5 server to remove the host after it registered it with the new sat6 server.    Looking at the source, doesn't seem like this has been added to the code yet?   Is that right?    -Scott

[2017-01-13 19:31] sideangleside commented on #148
The purpose of the migrate_systems function is that if the system is registered to Satellite 5, RHN Classic, it'll call rhn-migrate-classic-to-rhsm to perform the migration. When --legacy-purge is passed, it'll remove the profile. (assuming the username/password provided is correct). Example (that I just ran on a system):

[code]

In the above, I provided --legacy-password interactively, but the s

[2017-01-14 03:10] rarguello opened #149 "Error creating the host against Katello 3.3 RC1"
Gives an error while creating the host against Katello 3.3 RC1:

[code]

Gives this error:

[code]

Did the API change in 3.3?

[2017-01-31 10:06] evgeni opened #150 "allow skipping update of yum/openssl/python"
some customers might want to skip it due to $reasons

[2017-01-31 10:22] evgeni opened #151 "force non-migration codepath while systemdid is present"
there are hosts that have a systemid file, but are not really regged to sat5
rhn-channel -l will take 30 seconds (timeout) to recognize that and go to the register path

maybe we should add --force-new-registration that skips the systemdid check at all and calls the rhn_cleanup?

[2017-01-31 12:49] sideangleside commented on #151
Yes. Though I'd wonder if there is a better (and quicker) way to determine if a client is *properly* registered to RHN/Sat5.

[2017-01-31 14:34] evgeni commented on #151
I am not old enough to know that. Thankfully.

[2017-02-01 14:24] evgeni commented on #148
Ping @gearboxscott?

I have successfully moved about 6k hosts using bootstrap from sat5 to 6, all using --legacy-purge.
So the feature is working as @sideangleside describes.

Can we please have some debugging info from your env?

[2017-02-06 14:07] sideangleside commented on #150
I can imagine that customers would want this, Defaults should still be to update the packages

[2017-02-06 20:30] evgeni commented on #151
see https://github.com/evgeni/katello-client-bootstrap/tree/modular-skip for a possible solution

[2017-02-06 20:30] evgeni commented on #150
see https://github.com/evgeni/katello-client-bootstrap/tree/modular-skip for a possible solution

[2017-02-08 07:50] evgeni opened #154 "--remove --skip-foreman requires --server"
this should not be needed

[2017-02-14 16:23] mimmus opened #156 "--rex produces an error"
[NOTIFICATION], [2017-02-14 17:02:48], [The server was unable to fulfill the request. Error: 404]
Traceback (most recent call last):
  File "./bootstrap.py", line 874, in <module>
    install_foreman_ssh_key()
  File "./bootstrap.py", line 360, in install_foreman_ssh_key
    if foreman_ssh_key in open(foreman_ssh_authfile, 'r').read():
UnboundLocalError: local variable 'foreman_ssh_key' referenced

[2017-02-14 22:11] #156 closed, assigned to sideangleside

[2017-02-16 10:02] sideangleside commented on #97
I did some research into this. from `curl(1)`

[code]

This applies to both the binary and libcurl implementation.

[code]

running bootstrap (and changing the 'rpm -Uvh http' to 'rpm -Uvh https') works without issue after doing such. We _could_ write to ~/.curlrc, but I dont want to clobber or change a user's existing configuration.

[2017-02-16 10:12] evgeni commented on #97
I'd use a proper tempdir, but other than that this sounds like a quite clever solution. :+1:

[2017-02-16 10:19] sideangleside commented on #97
Well yeah, the above was an example. I'd use a proper tempdir cause writing stuff in people's homedir is frowned upon :)

[2017-02-16 11:08] #154 closed, assigned to nobody

[2017-02-16 19:07] #97 closed, assigned to sideangleside

[2017-02-16 20:06] evgeni commented on #126
I've been talking to @sideangleside about adding a way to override the FQDN detection via a command line parameter, I think this is as good as we can get here without doing any nasty hacks.

[2017-02-16 20:07] evgeni commented on #148
Ping @gearboxscott?

[2017-02-17 15:49] enricomingardo opened #160 "Missing closing bracket"
[code]
due to a missing closing bracket at the end of the line
https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L179

[2017-02-17 18:06] evgeni commented on #160
isn't it rather one opening bracket too much?

[2017-02-17 18:21] #160 closed, assigned to nobody

[2017-02-20 07:54] enricomingardo commented on #160
OOOPs ;-)

[2017-02-20 08:53] evgeni commented on #160
Technically, your code was still correct, as Python is a bit funny about single-element tuples:

[code]

[2017-02-22 09:47] sideangleside commented on #126
@peppos take a look at #164, this implements the `--override-fqdn` option that @evgeni and I were discussing.

[2017-02-22 09:55] sideangleside commented on #76
Do we still want to (have to) address this? In #147 we (re)start rhsmcertd _after_ the script is complete. Do we also want to restart it earlier in the script (basically immediately after we install/update subscription-manager)?

In some of those KCS articles you listed, rhsmcertd needed a `kill -9` in order to behave correct. I'd rather not have to do that.

[2017-02-22 09:59] sideangleside commented on #150
Since we are giving the user the ability to arbitrarily skip steps (that usually are mandatory), I think we should also allow them to skip installation of the katello-agent. Some users choose not to deploy it (and are OK with the ramifications of doing such), and there is no reason why we should force them to.

[2017-02-22 10:15] evgeni commented on #150
you mean like https://github.com/Katello/katello-client-bootstrap/pull/159/commits/cb5f0d4ae04578c733b75b15fee348c9b05c69dc in my PR? :-)

see #159

[2017-02-22 12:03] sideangleside commented on #150
Yes 👍

[2017-02-22 14:03] evgeni commented on #76
In the cases it hit me, "service rhsmcertd restart" was not sufficient. It would restart the main thread, but there would still be an old worker running, blocking all the stuff. `kill -9` was the only solution. But I agree that this is ugly.

[2017-02-23 01:06] #150 closed, assigned to nobody

[2017-02-23 01:06] #151 closed, assigned to nobody

[2017-02-23 16:39] evgeni commented on #149
Confirmed on katello-3.3.0-2.rc2.el7.noarch, investigating.

[2017-02-23 17:06] evgeni commented on #149
Fun, when I leave out `hostgroup_id` from the request, it works...

[2017-02-23 18:02] evgeni commented on #149
Hmm, I think this is an error regression in Foreman/Katello. What it tries to say is: your HG is not complete?!
Passing an invalid `hostgroup_id` triggers the right 404 error...

[2017-02-23 18:28] evgeni commented on #149
Mkay... Adding `"content_facet_attributes":{}` to the JSON submitted and it works with HostGroups. I don't get it.

[2017-02-23 18:51] evgeni commented on #149
Hah! This is probably related to http://projects.theforeman.org/issues/18630

Thanks @jlsherrill and @thomasmckay for listening to my ramblings in #theforman-dev :)

[2017-02-23 20:19] evgeni commented on #148
Closing after no input. Please re-open if needed.

[2017-02-23 20:19] #148 closed, assigned to nobody

[2017-02-24 11:39] sideangleside commented on #126
#164 is merged, and provides now the `--fqdn` option. From the [README](https://raw.githubusercontent.com/Katello/katello-client-bootstrap/master/README.md)

Many users have either hostnames that are short (`hostname -f` or python's `socket.getfqdn` returns a hostname that isn't an FQDN) or non-RFC compliant (containing a character such as an underscore `_` which fails Foreman's hostname validatio

[2017-02-24 11:39] #126 closed, assigned to nobody

[2017-02-26 19:56] sideangleside opened #166 "Bootstrap fails on systems with a non-stock GEM_PATH environmental variable"
Running bootstrap.py against a Red Hat Cloudforms 4.2 installation fails with the following:

[code]

Running `gem environment` on the node shows

[code]

Compared to a stock RHEL7.3 system
[code]

un-setting the `GEM_PATH` environment variable allows the script to complete successfully (and is an easy enough patch if we choose to do it). The bigger question is what to do about ongoing puppet runs

[2017-02-26 20:55] evgeni commented on #166
Why is `rh-ruby23` even in the path?! Was this run from an `scl enable rh-ruby23 …`?
We could unset `GEM_PATH` as we do for `LD_PRELOAD` etc. But meh.

We also don't support running from a Python virtualenv which has no `rpm` module...

Edit: is this a CloudForms appliance node?

[2017-02-26 21:35] sideangleside commented on #166
Affirmative.  I pulled down the appliance and wanted to bootstrap it into my environment. Basically, I just downloaded the appliance, did some basic setup (IP/Hostname),  wget the bootstrap script, and attempted to register.

[2017-02-27 08:39] evgeni commented on #166
Is using Puppet on those even supported?

Anyways:
* unsetting `GEM_PATH` will fix the bootstrap run, so that's fine for us.
* systemd will clean the env when starting the Puppet agent, so as long as the appliance is EL7 based, we're safe.
* any other combo I'd call not our problem ;)

[2017-02-27 09:25] sideangleside commented on #166
Then I think we are good here. The appliances are all EL7 based & I've confirmed that systemd does what you've stated above, so ongoing puppet runs are working as expected.  PR incoming.

[2017-02-27 13:36] #166 closed, assigned to nobody

[2017-03-01 07:46] evgeni commented on #146
Closing after #165 has been merged and I (again) forgot to add the proper "Fixes" to the commit msg ;)

[2017-03-01 07:46] #146 closed, assigned to nobody

[2017-03-05 08:53] evgeni commented on #76
I think we should just start our subprocs with a timeout, and if that is reached, kill it and abort.

[2017-03-14 20:00] bergsjoh commented on #96
Yes, it works like I suggested now. But it wasn't back when I opened it. Magic! :)

[2017-03-14 20:00] #96 closed, assigned to nobody

[2017-03-14 20:08] bergsjoh commented on #142
We encountered issues with this due to crappy automation tools. I worked around it, was basically a suggestion for cleanup, not a bug in bootstrap, but rather my tools around it.

[2017-03-22 18:15] ehelms opened #171 "Katello bootstrap.py fails to register existing FreeIPA client"
Moved from http://projects.theforeman.org/issues/18938

[code]

[2017-03-23 16:23] mccun934 opened #172 "Add support for installing subscription-manager from the http kickstart repositories"
For clients who do not have access to subscription-manager via a Spacewalk or Satellite 5 server, we should automatically attempt to hook into the freely available http based Kickstart repositories on the Katello/Satellite 6 server if synchronized.

This will streamline the bootstrap process and ensure subscription-manager is properly installed.

[2017-03-23 17:31] sideangleside commented on #172
hitting `/katello/api/repositories` to get a list of repositories enabled in the org would work _but_ this wont work if `--skip foreman` is used since we dont grab username/password in that scenario.

[2017-03-23 21:10] evgeni commented on #172
Well, even if `--skip foreman` is passed, the use *still* can also pass a username and a password for the Foreman API, we just don't enforce it.

There is one issue with the API approach: we have to do this *before* pulling the katello-ca-consumer RPM (as that requires sub-man), and without that RPM we don't know which API port to use.

We also have little chance to learn if the machine has really

[2017-03-23 21:30] sideangleside commented on #172
Can we just fix [bz1288817](https://bugzilla.redhat.com/show_bug.cgi?id=1288817)?

Though given the chicken-egg problems we have,  do we treat this is a semi-fatal error?

Basically this workflow:

- user runs bootstrap.py
- bootstrap.py does a `import yum` and uses the requisite calls to
  - check to see if the host already has `subscripton-manager` installed
  - check to see if `subscription-man

[2017-03-29 13:07] sideangleside opened #173 "[RFE] Allow user to set 'noop=true' in the puppet.conf file."
From [RHBZ1435972](https://bugzilla.redhat.com/show_bug.cgi?id=1435972) - As a user, I'd like the ability to set `noop = true` in the puppet.conf. This allows me to gain insight into how a migrated or registered host differs from my desired puppet state without making changes on the client.

It is assumed that the admin will manually remove the `noop = true` directive later.

[2017-03-29 13:18] sideangleside opened #174 "[RFE] - Allow user to disable autostart of Puppet Agent"
From [RHBZ1435972](https://bugzilla.redhat.com/show_bug.cgi?id=1435972) - As a user, I'd like to disable the puppet agent from starting by default (via chkconfig and the service commands). This allows me to deploy puppet but keep it disabled until needed.

[2017-03-30 09:41] #174 closed, assigned to nobody

[2017-03-30 09:41] #173 closed, assigned to nobody

[2017-04-03 11:05] bergsjoh commented on #172
I'm providing a openly available (bootstrap) repo via satellite using reverse_proxy on capsules that supplies just this. Subscription-manager and the dependencies to solve the client issue of missing sub-man. We don't sync the kickstart repos as we don't provision servers using satellite.

[2017-04-03 11:13] sideangleside commented on #172
So @bergsjoh, feel like testing #178 ? It should work with any HTTP yum repo. Yum might barf on an HTTPS repo if it isn't trusted.

[2017-04-07 09:59] bergsjoh opened #180 "Re-bootstrapping hosts with different --fqdn generates two hosts in satellite."
This is due to the check in generate_katello_facts() that doesn't write the file if it already exists;

-    if FQDN.find(".") != -1 and not os.path.exists('/etc/rhsm/facts/katello.facts'):
+    if FQDN.find(".") != -1:

fixes the problem, and will overwrite the file every time bootstrap runs.

[2017-04-07 11:04] sideangleside commented on #180
What version of bootstrap are you running?  As part of #164, and specifically https://github.com/Katello/katello-client-bootstrap/pull/164/commits/3bb30bb2a337fc6f2155a98916a5220a58607dda, we unconditionally write `/etc/rhsm/facts/katello.facts`. (bootstrap has to effectively clobber whatever the `katello-ca-consumer` RPM provides so that we can support the arbitrary FQDN.)

Now that you have me t

[2017-04-07 12:10] bergsjoh commented on #180
Whoops, sorry. I applied an old version of the generate_katello_facts() in my bootstrap yesterday.

I should look at the upstream code before submitting issues!

[2017-04-07 13:23] evgeni commented on #180
I must admit I don't like fiddling around with files in /etc after there were initially created.

So *if* we do this, we should add some header to the file, saying it will vanish and people should use an own file...

[2017-04-07 16:58] sideangleside commented on #180
Well, the file _is_ created:

- via `katello-ca-consumer` installation (in the %post section)
- via bootstrap.py

The RPM potentially _should_ own the file (and remove it on uninstall). Then we don't have to worry about removing it.

[2017-04-11 12:06] #180 closed, assigned to nobody

[2017-04-26 18:07] gearboxscott opened #181 "[RFE] Add option to move from one Satellite 6 to another or capsule"
I know the script has legacy but how about adding functionality to move from one Satellite 6 to Another or a capsule?

[2017-04-27 06:16] evgeni commented on #181
you can do this today already. you just have to call the script with `--force` so that it cleans up old registration data. see https://github.com/Katello/katello-client-bootstrap/blob/master/README.md#migrating-a-system-from-one-foreman--katello-installation-to-another

as for moving to another capsule of the *same* satellite: this is being worked on in https://github.com/Katello/katello-client-bo

[2017-05-10 12:06] bergsjoh commented on #172
´Tested that PR, LGTM.

[2017-05-26 19:12] sideangleside opened #183 "[RFE] Allow users to install arbitrary packages via bootstrap.py"
As a user, I'd like to have the ability to install arbitrary packages when I bootstrap a system. Something like a `--install-packages` switch to install a comma separated list of RPMs. All it would offer is the install. (Think of it as a courtesy for folks without configuration management / automation.)

[2017-05-26 20:16] gearboxscott opened #184 "[RFE] allow the use of encrypted passwords."
I have had a situation where the function of migrating servers from sat5 to sat6 or even registering without migration is automated in ansible, wrapper scripts or using puppet.  Would like to use encrypted password for this situation when the password is a permanent part of the ansible or wrapper script or passed to puppet via parameters or hard coded.   Is this possible, knowing there will be a i

[2017-05-26 20:18] gearboxscott commented on #181
agreed and worked as designed.  Thanks.

[2017-05-26 20:18] #181 closed, assigned to nobody

[2017-06-03 06:11] evgeni commented on #183
:+1:

[2017-06-03 06:23] evgeni commented on #184
It's complicated…

## Spacewalk / Satellite 5
My memory tells me that in recent versions of Spacewalk / Satellite 5 (starting with 5.6 or something), you can actually delete the system using its own certificate. However, we (or rather `rhn-migrate-classic-to-rhsm`, which we use) need more than just the `delete` action, and that is only available with an user account, not a system account.

## Kate

[2017-06-07 11:53] #172 closed, assigned to sideangleside

[2017-06-07 12:27] abradshaw opened #185 "Legacy Purge results in password being printed to the screen"

[2017-06-07 16:20] sideangleside opened #186 "[RFE] Set Location on a host when using the --skip foreman option."
As a user, when registering a host, I am using `--skip foreman` to register hosts without username/password as I am registering them for content only. I'd like the ability to set the host's location without needing a username / password

[2017-06-07 16:21] sideangleside commented on #186
**Note:** you can set the `foreman_location` subscription-manager fact, prior to registration to accomplish this.

[code]

[2017-06-08 13:45] #183 closed, assigned to sideangleside

[2017-06-20 20:34] evgeni opened #192 "Deprecate old --skip-* options"
Since we have the generic --skip method, we can deprecate --skip-puppet and --skip-foreman. First we should issue a warning and drop them in the next big release.

[2017-06-20 21:19] sideangleside commented on #192
I thought you said we'd *NEVER* remove those options :) I guess we'd should probably start actually planning katello-client-bootstrap 2.0

[2017-06-21 08:32] wyrmiyu opened #193 "Script aborts as subscription-manager does not get the subscription information immediately"
While using this script to migrate hosts from Satellite 5 to Satellite 6, when the script runs the subscription-manager register it sometimes happens, especially when using VDC subscriptions, that the Satellite 6 is a bit slow to determine the subscription status.

Hence following takes place:

1. Host is registered to Satellite 6
2. Subscription-manager gets wrong subscription status and fails
3.

[2017-06-23 14:39] evgeni commented on #192
Never said that! :)

[2017-06-23 19:28] #185 closed, assigned to nobody

[2017-06-23 19:52] #192 closed, assigned to nobody

[2017-07-12 15:23] evgeni commented on #149
Can't reproduce with Katello 3.4.2 anymore, closing.

[2017-07-12 15:23] #149 closed, assigned to evgeni

[2017-08-03 11:05] evgeni opened #198 "add documentation what each SKIP_STEP means"
while the entries in SKIP_STEPS have quite speaking names, it would be nice if --help would show at least one line per step what it really skips.

[2017-08-09 08:40] evgeni opened #199 "use os.WEXITSTATUS instead shifting the exit status on our own"
python has a macro for that: https://docs.python.org/2/library/os.html#os.WEXITSTATUS
let's not reinvent the wheel

[2017-08-09 13:29] evgeni opened #200 "use the new autosign API on Foreman 1.15"
http://projects.theforeman.org/issues/7495

we can at least try to add an autosign entry before yelling at the user ;)

[2017-08-09 17:47] sideangleside commented on #200
👍 So we'd effectively try to create the autosign entry (and gracefully handle if we can't - such as on older versions of Foreman?)

[2017-08-10 09:44] alosadagrande commented on #142
+1. Same error due to automation tool.

[2017-08-10 20:39] sideangleside opened #201 "[RFE] default consumer RPM download to use HTTPS"
With Red Hat BZ 1432580 being addressed, bootstrap's `--download-method` option should now default to using HTTPS.

[2017-08-17 11:26] alosadagrande commented on #186
Suggested workaround tested successfully on RH Satellite 6.2.10

[2017-08-21 21:24] alosadagrande opened #204 "Define multiple capsules to copy ssh keys when enabling rex"
When enabling remote execution (--rex) registered client downloads the foreman-proxy ssh key from the --server value defined. In case you have several capsules on the same location it is useful to allow to pass this information.

Could be useful to create a new parameter called --rex-capsules which overrides the --server value when added to boostrap.py. Also it should allow to enter comma separate

[2017-08-22 07:36] soukron commented on #73
https://github.com/Katello/katello-client-bootstrap/pull/205 to fix this. I faced the problem today and it's straight forward to add it.

This was my scenario to reproduce it:
 1 create a CV with RHEL 7.3 repository (not RHEL 7Server)
 2 boot a RHEL 7.3 VM and subscribe it manually and run yum clean && yum repolist
    2.1 repos URL use /7Server/ in their release part which is not in the CV
 3 use

[2017-08-22 10:27] soukron commented on #73
Also note that I know the fact that the activation kay may also set the release, but given the existence of the parameter I'd prefer to be able to use it to force different releases and not being forced to create multiple activation keys.

[2017-08-22 17:57] sideangleside commented on #204
Assuming we implement as designed, what is the failure mode: should we fail

- if we cannot download _any_ of the keys
- if we cannot download _all_ of the keys

Would a better solution be to allow the user to just provide an arbitrary URL which contains the public keys concatenated?

[2017-08-22 19:23] sideangleside commented on #73
Should we be even allowing users to override the release version of their activation keys?. When using multiple activation keys, you have to contend with the behavior of multiple activation keys (the key that is the furthest to the right (on the CLI) wins), and now you are giving the user the ability to override that. That implies that the admin bootstrapping the client is smarter than the activat

[2017-08-22 22:17] soukron commented on #73
Yeah, that's another option: get rid of the parameter, but then you're forcing the users to create multiple activation keys instead of just allowing to override by using a method provided by subscription-manager itself.

IMHO it's useful, but I don't have any other killer argumentation than my experience as user by patching the file with every single Satellite installation I made to make it work a

[2017-08-23 07:53] evgeni commented on #73
I think I now remember/recognize why we removed that.

We read the release version using Python's `platform` module, and that will always return the full release number (7.4, 6.9, etc) and never the XServer (6Server, 7Server) one. However, Katello might only server the 7Server one in the content view.

If we now would force the `--release` param of subscription-manager, we would end up with invali

[2017-08-23 09:16] soukron commented on #73
That's the idea: let a user set a different release so katello-agent and other packages won't fail.

As said, is you prefer to change the implementation is okay for me as both options do the job:
 - using --release in the subscription-manager register command, if the option is passed
 - run an extra subscription-manager release to set the release, if the option is passed

The first may be better f

[2017-08-23 11:00] sideangleside commented on #73
The only way (that I can think of) that setting the releasever via bootstrap.py makes sense is if you have multiple release versions of content (7Server + 7.3) in a content view, and you don't necessarily want to use (at least 2) activation keys.  I personally wouldn't construct my content views that way, but that is a matter of implementation and the tools don't stop you from doing i so I say we

[2017-08-23 11:06] soukron commented on #73
Thanks for your understanding @sideangleside.

I wouldn't make the CVs that way also, but I'm seeing a lot of people doing this: Publish a CV with 7Server repositories but use it for different systems with a fixed version (ie 7.2), having just one AK which sets the release to 7Server by default. They just fix the release from the client to the desired one, they still get erratas until they're publ

[2017-08-24 21:46] alosadagrande commented on #204
Actually I already coded as I suggested at the beginning. Basically using the same function "install_foreman_ssh_key" looping each of the capsules passed by parameter (--rex-capsules). So taking a look at the function it just prints a warning / generic exception if cannot connect or if there is any problem.

**/tools/scripts/satellite/bootstrap-wrapper.sh: [NOTIFICATION], [2017-08-29 15:56:01], [C

[2017-08-25 11:15] #201 closed, assigned to sideangleside

[2017-08-25 17:19] jlsherrill commented on #73
I confirmed the behavior (its happening completely in candlepin).  I think providing this option for the user to specify makes perfect sense!

[2017-08-26 06:49] #142 closed, assigned to nobody

[2017-08-29 13:59] alosadagrande opened #210 "Define AuthorizedKeysFile path when rex is enable"
There are some installations where AuthorizedKeysFile value is not the default one ($HOME/.ssh/authorized_keys). In thoses cases rex goes OK but obviously as the sshd is expecting the ssh pub keys in other directory, ssh with pubkey auth is failing.

[2017-08-29 14:02] alosadagrande commented on #210
I have been taking a look and seems that there is no environment variable which can help us to locate the proper path for user's AuthorizedKeysFile.

I see two options:

1. Use regular expressions to extract the value from /etc/ssh/sshd_config file. Probably a if/else structure must be coded as well due to different values like: none, .ssh/authorized_keys, /etc/keys/%u/authorized_keys or even a si

[2017-08-29 15:18] evgeni commented on #210
I'd vote for 2. I hate guessing ;)

[2017-08-30 11:07] sideangleside commented on #210
Same. +1 to option 2. (And I am afraid to ask who doesn't use the standard path for the AuthorizeKeysFile) :)

[2017-08-30 11:12] evgeni commented on #210
I do, on boxes where I don't want the users to be able to change their keys.

[2017-08-30 12:36] #73 closed, assigned to nobody

[2017-08-31 07:32] alosadagrande commented on #210
First time I see... but seems pretty reasonable from a security point of view.

[2017-09-05 12:11] michaelsstuff opened #213 "TypeError: 'str' object is not callable"
Hi,

I tested with a rhel 6.9 host, which is deployed and registered via satellite 5, and tried to move it to satellite 6 with the current version of this script.
It does register it against the new satellite, remove it from the old, also installes the certificate, but then breaks with

`[RUNNING], [2017-09-05 14:04:43], [/sbin/chkconfig rhsmcertd on]

[SUCCESS], [2017-09-05 14:04:43], [/sbin/chkc

[2017-09-05 12:17] dLobatog opened #214 "Host params not available when re-registering host to capsule"
Host parameters added on the Host are lost after migrating the host from the Satellite to the Capsule.

Version-Release number of selected component (if applicable): 6.2.11
How reproducible: Always

Steps to Reproduce:
1.  Register a host with the Satellite, add puppet classes and host parameters on the host
2.  Re-register the host using the bootstrap.py to the Capsule.
3.  Check the "host Parame

[2017-09-05 14:06] michaelsstuff commented on #213
Tested it with the fix, works now.
Thank you very much!

[2017-09-05 14:06] #213 closed, assigned to nobody

[2017-09-05 19:18] evgeni opened #216 "add pylint checks on Travis"
this should make stuff like https://github.com/Katello/katello-client-bootstrap/pull/215 not happen again

[2017-09-07 17:22] sideangleside opened #217 "[RFE] Migrating a system from RHSM or SAM using the bootstrap script should not require the --force option."
Description of problem from [bz 1478769](https://bugzilla.redhat.com/show_bug.cgi?id=1478769)

When migrating a system from RHSM or SAM using bootstrap.py, the script will fail as it believes the system is already registered and the underlying subscription-manager command fails. Passing the --force option to bootstrap.py allows the registration to complete, however, this behavior is inconsistent.

[2017-09-08 06:47] Rocco83 commented on #217
I agree that to "fix" a system, --force should not be needed.

But:

What if the script run by error?
Your pull is not human error proof :-)

How to deal with a system to be fully re-registered and re-registered?
In example what if a destination system has to be reinstalled from scratch, losing the current certificates?
What if I have to move the system to another capsule maybe because of data cen

[2017-09-08 09:10] sideangleside commented on #217
If bootstrap is run on a host that is registered to RHN/Sat5 today by error, nothing stops the script from running. My PR just makes that behavior consistent when a system is registered via RHSM or SAM. It is only when the system is registered to a Satellite 6 / Katello instance that we prevent the user from re-running the script. This PR makes the standard workflow (registering/migrating from !(K

[2017-09-09 23:50] Rocco83 commented on #217
Got it.
Opening PR for the other stuff :)

[2017-09-10 00:38] Rocco83 opened #221 "Auto-heal current setup when running the script"
bootstrap.py has to be able to repair the installation of the subscriptions, puppet, katello, rex, and whatever else will be in the future implemented.
Continuing from the possible scenario given by Evgeni,  https://github.com/Katello/katello-client-bootstrap/pull/218#issuecomment-328056960)
we can see it as
5.  System is on Katello/Satellite6 and i want to fix the installation.

Suggested flag:
-

[2017-09-14 07:29] alosadagrande opened #222 "Delete katello-host-tools and katello-host-tools-fact-plugin packages when unregistering"
Unregistering a client running katello-agent 3.0 does not delete katello-host-tools either katello-host-tools-fact-plugin.

This is causing issues when moving a client running katello-agent 3.0 to katello-agent 2.9. Actually katello-agent 2.9 is not installed due to error in dependencies.

[2017-09-14 12:35] mimmus opened #223 "Error with curl retrieving Client CA Certificate RPMs"
Recently, I started to see this error:

[code]

I found that curl shipped with Red Hat is compiled using NSS (and not OpenSSL) and this is the root cause of the issue but not sure to understand all implications.

Any help?

[2017-09-15 08:26] alosadagrande commented on #222
Do you think we should check if katello-host-tools and/or katello-host-tools-fact-plugin are installed before calling yum erase on def clean_katello_agent():

call_yum("erase", "'katello-ca-consumer-*' katello-agent gofer 'katello-host-tools*' ")

[2017-09-15 08:58] sideangleside commented on #222
yum skips non-existing packages so there is no need to have any 'if/then' logic. This would also be consistent with other places where we remove packages (https://github.com/Katello/katello-client-bootstrap/blob/master/bootstrap.py#L418)

[2017-10-02 15:51] #217 closed, assigned to nobody

[2017-10-02 18:47] #222 closed, assigned to nobody

[2017-10-02 23:41] sideangleside commented on #223
That shouldn't be an issue. Which version of `libcurl` do you have? Also, which version of RHEL, Katello/Sat6? Also, you can use `--download-method=http` to pull the CA RPM over HTTP?

[2017-10-03 08:59] mimmus commented on #223
It was a bug: at some point in time, katello-ca-consumer-latest.noarch.rpm was no more available on HTTPS on the Capsule server. Satellite 6.2.11 solves the issue.

Thanks

[2017-10-03 09:00] #223 closed, assigned to nobody

[2017-10-03 10:38] sideangleside commented on #223
Yes, we didn't default `bootstrap.py` to using https by default until *after* that BZ was fixed. :)

[2018-01-03 12:23] h4xr opened #229 "Make bootstrap.py compatible with Puppet 4"
Currently bootstrap.py fails if the client is trying to install puppet-agent for Puppet 4.
This seems to happen because of the change of the directory structure that is there with Puppet 4.

Puppet 3:
The configuration files live in /etc/puppet/puppet.conf
The executable is present in /usr/bin/puppet

Puppet 4:
The configuration file is in /etc/puppetlabs/puppet/puppet.conf
The executable is prese

[2018-01-03 12:57] evgeni commented on #229
I know, I initially proposed the `--puppet4` switch on IRC, but now that I thought about it more…

* the user might already have provided "the right" puppet version using content-views/activation-keys, so there is no need (and bad UX) to force them to pass the puppet version *again*
* there is no reliable way to do *all* the needed setup to get the right puppet packages (it's `puppet` vs `puppet-a

[2018-01-04 00:00] sideangleside commented on #229
Correct. If anything, I'd rather an NVREA check against the package (since that is what we use to check versions of _other_ packages and would consistent. There is no need (IMHO) to add an additional switch for this.

[2018-01-15 15:12] #229 closed, assigned to nobody

[2018-01-16 11:49] sideangleside opened #235 "[RFE] Bootstrap should properly configure Puppet on a FIPS enabled system"
See [bz1495215](https://bugzilla.redhat.com/show_bug.cgi?id=1495215). On FIPS enabled systems (where `/proc/sys/crypto/fips_enabled` == `1`) Bootstrap fails to run puppet (Due to puppet's default [signing algorithm](https://puppet.com/docs/puppet/5.3/configuration.html#digestalgorithm) being MD5, which isn't allowed in FIPS mode.

Setting `digest_algorithm = sha256` in puppet.conf will allow a suc

[2018-01-17 15:19] sideangleside commented on #214
This should be addressed by the work in #227

[2018-01-17 15:23] sideangleside commented on #105
Closing this as bootstrap now supports puppet4 now that #230 has been merged.

[2018-01-17 15:23] #105 closed, assigned to nobody

[2018-01-18 15:51] #235 closed, assigned to sideangleside

[2018-01-23 09:43] mimmus opened #238 "Regression bug on install_foreman_ssh_key()"
Recently, we started to have this error on every host:
[code]

[2018-01-23 17:23] #238 closed, assigned to nobody

[2018-01-23 19:16] sideangleside commented on #193
I am hesitant to implement this without having a clear reproducer. Additionally, (IMHO) it would be a little too much of 'treating the symptoms', and not the root cause

Given that:

- We set subscription-manager an urllib2 API timeouts to 900 seconds now (see #237)
- There are a number of significant registration improvements soon to be added (https://bugzilla.redhat.com/show_bug.cgi?id=1514508)

[2018-01-23 19:17] sideangleside commented on #214
Closing as #227 has been merged.

[2018-01-23 19:17] #214 closed, assigned to nobody

[2018-01-23 19:24] evgeni commented on #193
What he said ^^

No, really, we should make Satellite behave, not bootstrap work around quirks. We have enough of those for Sat5 and EL5.

[2018-04-05 13:49] sideangleside commented on #186
Completed as part of #242

[2018-04-05 13:49] #186 closed, assigned to nobody

[2018-04-05 13:50] sideangleside commented on #193
Closing this issue as per the above comments.

[2018-04-05 13:50] #193 closed, assigned to nobody

[2018-04-05 19:36] sideangleside opened #247 "[RFE] Standardize Exit codes"
Today we exit with non-zero exit code in the event of an error. Should we consider being more granular with our exit codes:

example, return `2` for 'system already registered' and `3` for 'unsupported puppet version'

[2018-04-12 11:21] evgeni opened #248 "bootstrap.py should check that domain is in correct organization/location"
From https://bugzilla.redhat.com/show_bug.cgi?id=1566423 (thanks @jhutar)

Description of problem:
bootstrap.py should check that domain is in correct organization/location

Version-Release number of selected component (if applicable):
satellite-6.3.0.1-1.el7sat.noarch

How reproducible:
always

Steps to Reproduce:
1. Have domain "example.com" created in Satellite, but without organization and loc

[2018-04-16 12:56] #248 closed, assigned to nobody

[2018-04-16 12:56] sideangleside commented on #247
@evgeni thoughts?

[2018-04-16 13:01] evgeni commented on #247
I think this is a good idea. :+1:

I wonder if we should follow https://github.com/theforeman/hammer-cli/blob/master/lib/hammer_cli/exit_codes.rb (at least where we can)

[2018-04-16 22:03] gearboxscott commented on #247
dilly dilly

[2018-05-02 13:16] sideangleside opened #251 "[RFE] update bootstrap.py to only install katello-host-tools"
Katello [docs](https://theforeman.org/plugins/katello/nightly/installation/clients.html) recommend *not* installing katello-agent. bootstrap should do the same.

[2018-05-02 13:44] gearboxscott commented on #251
I thought katello-agent was required for host-collection actions, errata to install now from the errata screen, package install, etc.  all these don't require remote execution to happen?

[2018-05-29 19:06] mccun934 commented on #146
As a reminder to myself and others hitting this, make sure the domain of the host you are bootstrapping is the **same** as the domain of the Host Group you are assigning it to.

[2018-05-29 19:33] evgeni commented on #146
@mccun934 bootstrap should detect the domain of the host and set the domain_id accordingly. So the HG domain should not be used.

[2018-06-12 16:28] #216 closed, assigned to evgeni

[2018-08-16 13:05] sthirugn opened #260 "Allow bootstrap.py to optionally ignore subscription-manager error when there are no subscriptions allocated."
There are scenarios in which it is okay for the user to register a client to satellite without having a subscription allocated to it.  Right now, bootstrap.py fails and exits since it uses  `exec_failexit` on `subscription-manager register` call as shown below.

[code]
the above-mentioned line should use `exec_failok` if the user wants to optionally ignore non-availability of subscriptions in cert

[2018-08-22 12:45] sideangleside commented on #260
The general concern that I have is that by changing to `exec_failok` is that it would mask other legitimate subscription-manager issues.

This is related to [bz1591315](https://bugzilla.redhat.com/show_bug.cgi?id=1591315). Even _when_ that bug is addressed, we'd still have crusty old versions of subscription-manager in the wild that won't return proper exit codes when registering.

As much as I do

[2018-08-22 12:58] evgeni commented on #260
Yeah, silent `failok` will be a source for nightmares (but then again, not mine).

`--ignore-registration-failures` would be a solution -- until someone asks for `--ignore-puppet-failures` etc?

the other day, I suggested `failok` with a post-failure check if the failure was legit. but this makes code more complicated, so *ugh*.

for simplicitys sake, +1 on `--ignore`

[2018-08-22 13:28] sthirugn commented on #260
+1 to `--ignore-registration-failures` with a clear help message that it is user responsibility to take care of it.

[2018-09-06 14:27] ogajduse opened #263 "bootstrap.py is not Python 3 compatible"
This should be an issue for the future RHEL releases.

[2018-09-06 14:29] sideangleside commented on #263
+1. Thanks for the report.

[2018-09-11 10:58] ogajduse opened #265 "bootstrap.py --remove should also remove python-gofer"
yum output while installing:
[code]

Output while uninstalling:
[code]

Version:
[code]

[code]

[code]

[code]

[2018-09-11 11:20] ogajduse commented on #265
While the `katello-agent` is installed rpm reports following.
[code]

[code]

[2018-09-13 15:40] ogajduse commented on #265
Seems that this is not bug of bootstrap.py but packaging bug. See https://bugzilla.redhat.com/show_bug.cgi?id=1625439

[2018-09-17 14:33] #260 closed, assigned to sideangleside

[2018-10-10 13:34] #199 closed, assigned to evgeni

[2018-10-28 03:39] pgera opened #275 "fips check"
/proc/sys/crypto/fips_enabled needn't exist. There should be a check between these two lines:

fips_file = open("/proc/sys/crypto/fips_enabled", "r")
fips_status = fips_file.read(1)

[2018-10-28 14:57] sideangleside commented on #275
Are you stating that on your system that `/proc/sys/crypto/fips_enabled` doesn't exist on your system?

What OS version are you running (on the client)?

[2018-10-28 15:38] pgera commented on #275
It's a RHEL 7.5 system, but running the mainline kernel from elrepo's kernel-ml. /proc/sys/crypto/fips_enabled seems to be a feature of the downstream RHEL kernel.

[2018-10-28 18:44] pgera opened #276 "[RFE] yum plugins and metadata expiration"
The out of the box setup makes clients really slow for two reasons, especially if the latency to the server is high. The repo upload plugin, which gets enabled, takes a while to upload all the repos on every yum operation. Second, the metadata is set to expire immediately, as opposed to the more conventional 6h window. Both of these can be adjusted on the client after the fact, but I wonder if the

[2018-12-18 10:10] evgeni commented on #275
it does exist on my Fedora 29 box (4.19.5-300.fc29.x86_64), but yeah, I think we can still add a check for it.

[2018-12-18 10:13] evgeni commented on #275
@pgera please test https://github.com/Katello/katello-client-bootstrap/pull/279

[2018-12-18 13:14] evgeni commented on #263
fixed in #278 :)
testing welcome

[2018-12-18 16:27] #275 closed, assigned to nobody

[2018-12-18 16:37] #204 closed, assigned to nobody

[2018-12-18 16:37] #210 closed, assigned to nobody

[2019-01-25 11:33] evgeni commented on #263
it is now, closing

[2019-01-25 11:33] #263 closed, assigned to nobody

[2019-01-25 11:34] evgeni commented on #265
closing as not_a_bug :)

[2019-01-25 11:34] #265 closed, assigned to nobody

[2019-02-07 15:20] sideangleside commented on #276
Regarding metadata expiration, this is by design so that when a minor release of a content view is created (such as going from version 13.0 -> 13.1), the client will immediately be able to get access to the new RPMs. You can override this like such `subscription-manager repo-override  --repo=rhel-7-server-rpms  --add=metadata_expire:50`. I would be open to having an option to set metadata expirati

[2019-02-14 10:42] swadeley opened #292 "Improve help text for --rex-urlkeyfile command"
Hello

This text is not clear:

  --rex-urlkeyfile=REMOTE_EXEC_URL
                        HTTP/S location to install a file containing one or
                        multiple Foreman's SSH keys for remote execution.

I think this is what is meant:

                        HTTP/S location of a file containing one or
                        more Foreman's SSH keys for remote execution.

[2019-02-14 14:31] #251 closed, assigned to sideangleside

[2019-02-19 11:59] #292 closed, assigned to nobody

[2019-02-21 08:07] evgeni opened #296 "improve error and help messages for --rex-authpath"
[code]

The user needs to pass a file path, not a folder, we should tell them that.

[2019-02-21 08:09] evgeni opened #297 "UnboundLocalError: local variable 'userpw' referenced before assignment"
[code]

[2019-02-26 07:45] #296 closed, assigned to nobody

[2019-02-26 07:45] #297 closed, assigned to nobody

[2019-03-20 13:44] swadeley opened #301 "Warn if --rex omitted when using other options starting --rex-*"
Hello

If you enter a command with one of the --rex options, but forget to add --rex itself, it does not warn you and does not complete as expected.

Catching this error or just inferring you want --rex would be good.

Thank you

[2019-03-27 10:12] swadeley opened #302 "RHEL 8 requires /usr/libexec/platform-python"
Hello

On a RHEL8 Beta host you can run bootstrap.py as follows:

~#] /usr/libexec/platform-python bootstrap.py

or edit the hash bang line to be  #!/usr/libexec/platform-python

Should be just add this info to the built in docs?

Thank you

[2019-04-01 13:02] #302 closed, assigned to nobody

[2019-05-02 07:55] giovannisciortino opened #308 "[RFE] Add flag to execute "Play ansible roles""
Satellite from version 6.4 support the execution on ansible roles associated to hosts.
A new flag on bootstrap.py script could be useful to trigger automatically the execution of the Ansible roles associated to the host after its registration.

Note: The ansible roles can be associated to an host during registration process associating them to a hostgroup.

This is an example of the API call used

[2019-11-18 20:35] mickael1026 opened #320 "[RFE] Get activation keys from hostgroup if no activationkey parameter is provided"
Should be nice to get activation from hostgroup and use them to register the host with subscription-manager if no activationkey parameter is provided.

[2020-01-27 11:33] swadeley opened #323 "[RFE] Add an option --rex-interface in bootstrap.py"
Hello
As requested in:
Bug 1663866 - [RFE] Add an option --rex-interface in bootstrap.py

"We need to add an option --rex-interface in bootstrap.py to allow configuring the interface of choice for REX."

[2020-03-23 12:28] snagoor opened #325 "subscription-manager proxy entries are not persistent in rhsm.conf"
Example:

 **Client** <----> **Proxy** <----> **Capsule**.

In this situation, passing in the RHSM proxy options, `--proxy=PROXY_URL` , `--proxyuser=PROXY_USER` and `--proxypassword=PROXY_PASSWORD`  are not persistent after the host is registered.

Proxy settings are mandatory in this case as any subscription-manager requests must go through a proxy, as direct communication with the capsule isn't

[2020-03-23 12:59] snagoor commented on #325
PR opened for this https://github.com/Katello/katello-client-bootstrap/pull/326

[2020-08-11 08:13] Netbulae opened #330 "Puppet setup failes on CentOS 8"
CentOS Linux release 8.1.1911 (Core)
puppet-6.14.0-1.el8.noarch

Puppet installs but the directory /opt/puppetlabs etc doesn't exist.

[SUCCESS], [2020-08-11 10:01:54], [/usr/bin/yum -y install puppet], completed successfully.
[RUNNING], [2020-08-11 10:01:54], [/usr/bin/systemctl enable puppet]
Created symlink /etc/systemd/system/multi-user.target.wants/puppet.service → /usr/lib/systemd/system/pup

[2020-09-30 09:17] pgera opened #332 "Host Key updates"
Reprovisioning a host does not update the host key on the server. This later throws a host key mismatch error on remote execution (https://projects.theforeman.org/issues/18645). I wonder if this is something that should be handled by the bootstrap script. Is there any provision to update the host key during registration ?

[2020-10-22 11:32] evgeni commented on #330
Where is the puppet binary located in your case?

[2020-10-22 11:35] evgeni commented on #330
Using puppet-agent-6.19.0-1.el8.x86_64 from http://yum.puppet.com/puppet6/el/8/x86_64/ works.

Where is your puppet agent from?

[2021-02-12 16:58] MaxDiOrio opened #341 "Hostgroups"
OK - so I had an issue with DuplicateName Already Exists when running the script on an existing virtual machine - attempting to register it to Foreman/Katello using the bootstrap script.  It was trying to create a brand new VM when it was creating the client in Foreman.  From what I gather, I need to skip the foreman section.  I also have puppet set to noop.  But it looks like it doesn't install p

[2021-02-15 07:18] evgeni commented on #341
It *shouldn't* try to create a new VM, as we're passing `build=False` to the API. But things might have changed since I last tried that particular feature.

If you're skipping Foreman, the machine won't be added to a hostgroup, so that's probably not what you want.

Can you show me the full call of `bootstrap.py` that you use when you get the name already exists error, plus the part of `/var/log/f

[2021-02-16 18:54] B3DTech commented on #341
OK - so this time I tried to deploy I didn't get the hostname already exists, but, it still creates a VM, leaves it powered off, and appears to associate the created VM with the host, as it's showing it's powered off.

<img width="318" alt="image" src="https://user-images.githubusercontent.com/32655512/108107398-2df17380-705d-11eb-97a9-8ab18a19cc18.png">

I think because of this, the actual VM I'm

[2021-02-17 11:44] evgeni commented on #341
Thanks!

Can you please try the following patch?

[code]

[2021-02-17 17:56] B3DTech commented on #341
That worked for preventing the new VM from spinning up.  Thank you.

Now I just need to figure out why a few of my repositories are refusing to show up on the clients and why the Ansible jobs don't run.  Could be because the bootstrap script doesn't finish.

It's currently failing on installing katello-host-tools.  The repo shows up in the content host, fails to show up in subscription-manager rep

[2021-02-17 17:59] evgeni commented on #341
Missing subscription in the activation key for that product/repo would be the first thing I'd look for.

[2021-02-17 18:31] B3DTech commented on #341
Activation key is fine.  Subscriptions are there, and the repositories are showing up in the repository sets when filtered to limit to environment.

When looking at the content host, I see the same, subscriptions are there and they are there when viewing the repository sets filtered to limit to environment.

In the client rhsm log, I see it updating the certificates for all 7 subscriptions.

[2021-02-17 18:43] B3DTech commented on #341
So I've narrowed it down.  It only impacts repositories that I have OS restrictions on.

For example, EPEL.

I have one Product, EPEL.  Within that product, I have two repositories.  One for CentOS 7, one for CentOS 8.  Each repo I have OS restrictions enabled to rhel7 and rhel8.  Can I assume that the restriction does not apply to CentOS then?

[2021-02-17 19:05] B3DTech commented on #341
That was it - it is only for RHEL subscriptions.

[2021-02-17 19:28] evgeni commented on #341
nice! yeah I haven't played with those restrictions yet, but that's certainly not bootstraps "fault" ;)

I've opened https://github.com/Katello/katello-client-bootstrap/pull/342 to get that VM part fixed and hope you're settled now?

[2021-02-17 19:30] B3DTech commented on #341
We're all good now.  Thanks for the help!

[2021-02-17 19:31] evgeni commented on #341
Absolutely!

If you want, open an issue on https://projects.theforeman.org/ against Katello that those restrictions should not be setable for repos that are not restrictable ;)

[2021-02-18 13:18] #341 closed, assigned to nobody

[2021-02-19 18:29] B3DTech opened #344 "Why is migrating CentOS 7 off Spacewalk so difficult?"
I'm trying to move CentOS 7 systems that are currently using SpaceWalk over to Foreman/Katello/Ansible.  Running the bootstrap script causes all sorts of issues that I'm having trouble tracking down.

It was complaining that I couldn't find the subscription-manager-migration repo, so I added the one recommended by candlepin's site.  https://copr-be.cloud.fedoraproject.org/results/dgoodwin/subscrip

[2022-03-17 08:28] evgeni commented on #76
there was an PR #83 that got closed with:
with [rhbz1346417](https://bugzilla.redhat.com/show_bug.cgi?id=1346417), subscription-manager now sets a timeout for SSL connections. This PR is no longer needed. (And since it hasn't been merged yet, I'm closing it out)

I tend to agree and close this one too

[2022-03-17 08:28] #76 closed, assigned to nobody

[2022-05-27 19:32] diastelo opened #366 "OS Detection with platform module doesn't support Python 3.9"
Some of the functions used in the OS version detection section of bootstrap.py have been deprecated and removed. I got an error on RHEL 9 that platform.dist and platform.linux_distribution() don't exist. There was a recommendation to switch to the distro module in an issue tracker for the platform module, but this doesn't ship with platform-python.

[2022-06-14 17:33] louiscbrooks23 commented on #344
Did you ever figure this out as I'm having the same issue? Cannot migrate CentOS7 systems from Spacewalk to Katello due to missing subscription-manager-migration RPM

[2022-06-22 08:58] mlazzarotto commented on #344
Did you figured that out? I'm trying to migrate CentOS 7 to Katello but I can't find a mirror for up to date **subscription-manager-migration** package

[2022-07-20 08:24] louiscbrooks23 commented on #344
This is what we're planning to do, we've tested on one client so far and it seems to work...

1. Installl subscription-manager on client:

`yum install subscription-manager`

2. Deregister client from spacewalk (https://listman.redhat.com/archives/spacewalk-list/2017-June/msg00016.html):

`rm /etc/sysconfig/rhn/systemid`
`sed -i 's/enabled *= *1/enabled=0/' /etc/yum/pluginconf.d/rhnplugin.conf`
`s

[2022-09-19 09:24] stanlog commented on #366
I've got the same issue :
`Foreman Bootstrap Script
This script is designed to register new systems or to migrate an existing system to a Foreman server with Katello
Traceback (most recent call last):
  File "/root/bootstrap.py", line 1142, in <module>
    RELEASE = platform.linux_distribution()[1]
AttributeError: module 'platform' has no attribute 'linux_distribution'

During handling of the abov